<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                    </conditions>
                    <action type="Redirect" url="https://www.easyplan.com.br/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
