<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- 1) Proxy para o Node em 3088 -->
        <rule name="ProxyDigitalsaude" stopProcessing="true">
          <match url="^digitalsaude/(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^apis\.easyplan\.com\.br$" />
          </conditions>
          <action type="Rewrite" url="https://localhost:3090/digitalsaude/{R:1}" appendQueryString="true" />
        </rule>

        <!-- 2) Redireciona o restante para WWW -->
        <rule name="CanonicalHostNameRule1" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <!-- opcional: evita mexer no caminho do proxy -->
            <add input="{REQUEST_URI}" pattern="^/digitalsaude/" negate="true" />
          </conditions>
          <action type="Redirect" url="https://www.easyplan.com.br/{R:1}" redirectType="Permanent" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <!-- ARR: reescrever cabeçalhos Location do backend -->
    <proxy reverseRewriteHostInResponseHeaders="true" />
  </system.webServer>
</configuration>
